<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">


    <!--   按照id修改员工基本信息-->
    <update id="update">
        UPDATE emp
<!--    set标签：生成set关键词，去除语句中多余的逗号-->
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>



    <!--    #批量删除员工基本信息-->
    <delete id="deleteByid">
        delete from emp where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--根据条件查询员工基本信息-->
    <select id="Page" resultType="com.example.pojo.Emp">
        SELECT
            emp.*,
            dept.name AS deptname
        FROM
            emp
                LEFT JOIN
            dept ON emp.dept_id = dept.id
          -- 看这里，里美帮你改好啦！
        <where>
            <if test="name != null and name != ''">
                emp.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="begin != null and end!= null">
                AND emp.entry_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY
            create_time
    </select>

<!--    定义EmpresultMap-->
    <resultMap id="EmpresultMap" type="com.example.pojo.Emp">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="salary" column="salary"/>
        <result property="image" column="image"/>
        <result property="entryDate" column="entry_date"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>


        <collection property="exprList" ofType="com.example.pojo.EmpExpr">
            <id property="id" column="expr_id"/>
            <result property="empId" column="emp_id"/>
            <result property="begin" column="begin"/>
            <result property="end" column="end"/>
            <result property="company" column="company"/>
            <result property="job" column="expr_job"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="EmpresultMap">
        select
            emp.*,
            ee.id as expr_id, -- 给 emp_expr 的 id 起个别名叫 expr_id
            ee.emp_id,
            ee.begin,
            ee.end,
            ee.company,
            ee.job as expr_job -- 顺便也给 job 起个别名，避免和 emp.job 冲突
        from
            emp
                left join
            emp_expr ee on emp.id = ee.emp_id -- 建议给表也起别名，更清晰
        where
            emp.id = #{id}
    </select>


    <select id="getJobOption" resultType="java.util.Map">
        select
            case when job= 1 then '班主任'
                 when job=2 then '讲师'
                 when job=3 then '学工主管'
                 when job=4 then '教研主管'
                 when job=5 then '咨询师'
                 else '其他' end as jobName,
            count(*) count from emp
        group by emp.job
        order by count desc;
    </select>

    <select id="getGenderNum" resultType="java.util.Map">
        select
            if (gender=1,'男性员工','女性员工')name,
            count(*) value from emp group by gender;
    </select>

    <!--        创建新类的 方法-->
<!--    <select id="getJobOption" resultType="com.example.pojo.JobStatistic">-->
<!--        select-->
<!--            case when job= 1 then '班主任'-->
<!--                 when job=2 then '讲师'-->
<!--                 when job=3 then '学工主管'-->
<!--                 when job=4 then '教研主管'-->
<!--                 else '咨询师' end as jobName,-->
<!--            count(*) count from emp-->
<!--        group by emp.job-->
<!--        order by count desc;-->
<!--    </select>-->
</mapper>